@charset "UTF-8";

body {
	background-color: #f0f2f5;
}

p {
	color: var(--text-color) !important;
	margin-top: 6px;
}

input {
	color: var(--text-color) !important;
	border: 1px solid var(--border-color);
	padding: 6px 9px;
	flex: 1;
	border-radius: 9px;
}

input:focus {
	border: 1px solid var(--text-bland);
}


/* Login */
#wrapper {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#form-login {
	color: #fff;
	max-width: 400px;
	background-color: #fff;
	flex-grow: 1;
	padding: 30px 30px 40px;
	box-shadow: 0px 0px 16px 1px var(--box-shadow-color);
	border-radius: 16px;
	border: 1px solid var(--border-color);
}

.form-heading {
	font-size: 25px;
	text-align: center;
	color: var(--text-color) !important;
	margin-bottom: 30px;
}

.form-group {
	border-bottom: 1px solid #fff;
	margin-top: 15px;
	margin-bottom: 20px;
	display: flex;
}

.form-group i {
	color: #fff;
	font-size: 14px;
	padding-top: 5px;
	padding-right: 10px;
}

.form-input {}

.form-input::placeholder {}

#eye i {
	padding-right: 0;
}

.form-submit {
	background: transparent;
	border: 3px solid var(--border-color);
	font-weight: 600;
	color: #fff;
	width: 100%;
	text-transform: uppercase;
	padding: 9px 9px;
	transition: 0.25 ease-in-out;
	margin-top: 30px;
	cursor: pointer;
	border-radius: 999px;
	color: var(--text-color);
}

.form-submit:hover {
	border: 3px solid #54a0ff;
	color: #54a0ff !important;
}

.form-bottom {
	margin-top: 10px;
	text-align: right;
}

.form-bottom a {}


/* Register */
#form-register {
	display: none;
	max-width: 400px;
	color: #fff;
	max-width: 400px;
	background-color: #fff;
	flex-grow: 1;
	padding: 30px 30px 40px;
	box-shadow: 0px 0px 16px 1px var(--box-shadow-color);
	border-radius: 16px;
	border: 1px solid var(--border-color);
}

.form-heading-register {
	font-size: 25px;
	color: var(--text-color);
	text-align: center;

}

.form-group-register {
	display: block;
	color: var(--text-color);
	position: relative;
}

.form-group-register .form-text {
	padding: 3px 1px;
	margin-bottom: 0px;
}

.form-group-register .form-input-register {
	width: 100%;
}


.content-wrapper-friend {
	width: 590px;
	height: 273px;
	border: 1px solid #ccc;
	border-radius: 20px;
}

.content-wrapper-friend .section-title {
	padding: 5px 10px;
}

.content-wrapper-friend .section-title p {
	font-size: 16px;
	padding: 10px;
	font-weight: 600;
}

.content-wrapper-friend .friend-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0px 20px 10px 20px;
}

.content-wrapper-friend .friend-item {
	display: flex;

}

.content-wrapper-friend .friend-item img {
	width: 53px;
	height: 53px;
	border-radius: 50%;
}

.content-wrapper-friend .friend-item .friend-details {
	padding-left: 15px;
}

.content-wrapper-friend .friend-item .friend-details p {
	font-size: 16px;
	margin-bottom: 2px;
}

.content-wrapper-friend .friend-item .friend-details span {
	font-size: 13px;
	opacity: 0.6;
}

.content-wrapper-friend .add-friend {
	border: 1px solid #fff;
	border-radius: 20px;
	padding: 5px 8px;
	background-color: #1427db;
}

.content-wrapper-friend .add-friend a {
	font-size: 16px;
	text-decoration: none;
}

/* Lab 5 */

.header {
	height: 56px;
	background-color: #fff;
}

.header-shopping {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-shopping {}

.header-shopping .header-logo {}

.header-shopping .header-logo img {
	width: 60px;
	height: 60px;
}

.menu-shopping {
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: chartreuse;
	border: 1px solid #fff;
	border-radius: 10px;
}

.menu-shopping .menu-shopping-item {
	display: flex;
	padding-left: 0;
	align-items: center;
}

.menu-shopping-item .item-menu {
	padding: 5px 10px;
}

.menu-shopping-item .item-menu a {}

.contain-item .images-item {}

.contain-item .images-item img {
	width: 100%;
	height: 100px;
}

.contain-item .content-items {
	margin-top: 5px;
	text-align: center;
}

.asia-top {
	border: 1px solid #ccc;
	border-radius: 10px;
	margin-bottom: 20px;
}

.asia-top .asia-top-form {
	padding: 10px;
}

.asia-bottom {}

.asia-bottom ul {
	padding-left: 0;
}

.asia-bottom ul li {
	border: 1px solid chartreuse;
	padding: 5px 10px;
	text-align: center;
}