@charset "UTF-8";

.friend_request {
	width: 100%;
	height: 100%;
	border-radius: 16px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	background: #fff;
	padding: 16px;
}

.inputtemp {
	border: 1px solid var(--border-color);
	padding: 6px 9px;
	flex: 1;
	border-radius: 9px;
}

.inputtemp:focus {
	border: 1px solid var(--text-bland);
}

.wrapper_input>label {
	width: 200px;
	display: inline-block;
}

.wrapper_input {
	position: relative;
	margin-bottom: 16px;
	display: flex;
	align-items: center;
}

#btnSubmitChangePassword {
	background-color: #3a80ed;
	color: #fff;
}

.show_hide_password {
	position: absolute;
	right: 9px;
	bottom: 3px
}

.show_password {
	display: none;
}

.hide_password {
	display: none;
}

.show_hide_password.show_hide_password-show>.show_password {
	display: block;
}

.show_hide_password.show_hide_password-show>.hide_password {
	display: none;
}

.show_hide_password.show_hide_password-hide>.hide_password {
	display: block;
}

.show_hide_password.show_hide_password-hide>.show_password {
	display: none;
}