*{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

/* Body */
body {
    background-color: #F0F2F5;
}
/* Header */
.header {
    background-color: #242526;
}

.header ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.header ul a {
    text-decoration: none;
}

.header ul li {
    padding: 10px 6px;
    transition: all 0.3s ease;
}

.icon-web li a{
    color: orangered;
    font-size: 25px;
}

.button-home button {
    border: 1px solid #E4E6EB;
    border-radius: 5px;
    font-size: 18px;
    width: 150px;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button-home button:hover {
    background-color: #888;
}

.button-function {
    display: flex;
}

.button-function button {
    font-size: 20px;
    border: none;
    border-radius: 5px;
    width: 40px;
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #E4E6EB;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button-function button:hover {
    background-color: #888;
}

.button-user button {
    display: flex;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 20px;
    padding: 5px 10px;
    margin-right: 20px;
    background-color: #E4E6EB;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button-user button:hover {
    background-color: #888;
}

/* Kiểu dáng cho ô tìm kiếm */
.header li input {
    border: none;
    border-radius: 10px;
    font-size: 20px;
    width: 600px;
    height: 35px;
    font-family: 'Times New Roman', Times, serif;
}

/* Kiểu dáng cho nút tìm kiếm */
header .fa-magnifying-glass {
    font-size: 20px;
    cursor: pointer;
    color: #fff;
}

header .fa-magnifying-glass:hover {
    color: #888;
}

/* Post */
/* Kiểu dáng cho phần bài viết */
.post {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 880px;
    height: 300px;
    margin: 0 300px 20px 300px;
    background-color: #fff;
}

/* Phần header của bài viết */
.post-header {
    display: flex;
    align-items: center;
}

.post-avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-details {
    display: flex;
    flex-direction: column;
}

.post-author {
    font-weight: bold;
}

.post-time {
    color: #888;
}

/* Nọi dung bài viết */
.post-content {
    border : 1px solid #ddd;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

/* Phần tương tác */
.post-actions {
    margin-top: 5px;
}

.post-actions a {
    margin-left: 10px;
    text-decoration: none;
    color: #555;
}

.post-actions a:hover {
    color: #ff4500;
}

/* Box Bình luận */
.commentbox textarea {
    width: 860px;
    padding: 10px;
    margin: 5px 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 10px;
    resize: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}