@charset "UTF-8";

p {
	margin: 0;
}

.global_post {
	margin: 0px auto;
	border-radius: 16px;
	border: 1px solid var(--border-color);
	background: #fff;
}

.global_post-header_post {
	height: 62.5px;
	padding: 0px 16px;
	border-bottom: 1px solid var(--border-color);
	margin: 0;
	display: flex;
	align-items: center;
}

.global_post-header_post>div {
	padding: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
}

.global_post-header_post img {
	width: 40px;
	height: 40px;
	border-radius: 999px;
}

.global_post-header_content {
	margin-left: 16px;
}

.global_post-header_content p,
.global_post-header_content span {
	margin: 0;
}

.global_post-name_profile {
	font-size: 14px;
	font-weight: bolder;
	color: #050505;
}

.global_post-time_post,
.global_post-status {
	font-size: 12px;
	font-weight: 400;
	color: #65676b;
}

.global_post-header_icon {
	flex-direction: row !important;
	flex: 1 !important;
	display: flex !important;
	justify-content: end !important;
	align-items: center !important;
}

/* content-post */
.global_post-content_post {
	padding: 9px;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}

.global_post-content_post p {
	margin: 0 3px;
	font-size: 19px;
	font-weight: 400;
	text-align: left;
}

.global_post-post_footer {
	padding: 0 16px;
	display: flex;
	flex-direction: column;
}

.global_post-footer_info {
	border-bottom: 1px solid var(--border-color);
	border-top: 1px solid var(--border-color);
	height: 41px;
	display: flex;
	justify-content: space-between;
}

.global_post-info_icon {
	display: flex;
	justify-content: start;
	align-items: center;
}

.global_post-total_love {
	margin-left: 5px;
}

.global_post-info_global_post-interact {
	display: flex;
	align-items: center;
	justify-content: end;
}

.global_post-info_global_post-interact p {
	font-size: 13px;
	font-weight: 400;
	color: #65676b;
}

.global_post-total_comment {
	margin-right: 12px;
}

.global_post-interact {
	height: 40px;

	border-bottom: 1px solid var(--border-color);
}

.global_post-interact,
.global_post-interact_child {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.global_post-interact_child {
	cursor: pointer;
	height: 100%;
}

.global_post-interact_child>p {
	margin-left: 8px;
	color: #65676b;
	font-size: 14px;
	font-weight: 400;
	cursor: pointer;
	user-select: none;
}

.inner_show_post_global {
	position: relative;
	width: 589px;

}

.wrapper_show_post_global {
	z-index: 100;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.23);
	width: 100vw;
	height: 100vh;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}


.showPostGloabal {}


#globalPostClose {
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	margin-left: 16px;
	cursor: pointer;
}



.global_post-list_render_img {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
	width: 100%;
	padding: 0 6px;
}

.global_post-list_render_img_item:first-child,
.global_post-list_render_img_item:nth-child(2) {
	margin-top: 16px;
}

.global_post-list_render_img_item {
	width: 100%;
	cursor: pointer;
}

.global_post-list_render_img_item img {
	width: 100%;
	height: auto;
	display: block;
	border-radius: 6px;
}