@charset "UTF-8";

.list_follow {
	margin: 20px auto;
}

.list_follow-list_title {
	color: #000;
	font-size: 16px;
	font-weight: 700;
}

.list_follow-list_member {
	padding-top: 40px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	/* Khoảng cách giữa hai cột */
}

.list_follow-list_header {
	padding: 0 16px;
	margin-top: -6px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.list_follow-list_header a:last-child {
	margin-left: 13px;
}


.list_follow-info_member {
	display: flex;
	align-items: center;
	position: relative;
	padding: 10px 16px 10px 0;
	margin-bottom: 10px;
	padding: 10px;
}

.list_follow-img_member img {
	width: 73px;
	height: 73px;
	border-radius: 999px;
}

.list_follow-name_child {
	color: #000;
	font-size: 18px;
	font-weight: 700;
}

.list_follow-friend_child {
	color: rgba(0, 0, 0, 0.6);
	font-size: 13px;
	font-weight: 400;
}

.list_follow-name_member {
	margin-left: 13px;
}

#list_follow-action_icon {
	cursor: pointer
}

.list_follow-action_icon {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	width: 33px;
	height: 33px;
	align-items: center;
	margin-right: 16px;
}

/* box show action */
.list_follow-box_show_action {
	border-radius: 999px;
	background: #fff;
	position: absolute;
	right: 16px;
	border: 1px solid #cccccc;
	font-size: 13px;
	font-weight: 400;
	bottom: -1px;
	display: none;
}

.list_follow-box_show_action .list_follow-child {
	display: flex;
	border-radius: 999px;
	height: 50%;
	align-items: center;
	justify-content: start;
	padding: 0 16px;
	user-select: none;
	cursor: pointer;
	padding: 9px 16px;
}


.list_follow-action_icon>svg {
	cursor: pointer;
}

.list_follow-box_show_action .list_follow-child:hover {
	background-color: #ddd;
}

.list_follow-box_show_action .list_follow-child:first-child {
	border-top-right-radius: 16px;
	border-top-left-radius: 16px;
}

.list_follow-box_show_action .list_follow-child:last-child {
	border-bottom-right-radius: 16px;
	border-bottom-left-radius: 16px;
}

.list_follow-child:first-child {
	border-bottom: 1px solid #cccccc;
}

.list_follow-child p {
	margin-left: 8px;
}

.list_follow-info_member.list_follow-info_member_show_action .list_follow-box_show_action {
	display: block !important;
}