*{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

/* Body */
body {
    background-color: #F0F2F5;
}
/* Header */
.header {
    background-color: #242526;
}

.header ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.header ul a {
    text-decoration: none;
}

.header ul li {
    padding: 10px 6px;
    transition: all 0.3s ease;
}

.icon-web li a{
    color: orangered;
    font-size: 25px;
}

.button-home button {
    border: 1px solid #E4E6EB;
    border-radius: 5px;
    font-size: 18px;
    width: 150px;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button-home button:hover {
    background-color: #888;
}

.button-function {
    display: flex;
}

.button-function button {
    font-size: 20px;
    border: none;
    border-radius: 5px;
    width: 40px;
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #E4E6EB;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button-function button:hover {
    background-color: #888;
}

.button-user button {
    display: flex;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 20px;
    padding: 5px 10px;
    margin-right: 20px;
    background-color: #E4E6EB;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button-user button:hover {
    background-color: #888;
}

/* Kiểu dáng cho ô tìm kiếm */
.header li input {
    border: none;
    border-radius: 10px;
    font-size: 20px;
    width: 600px;
    height: 35px;
    font-family: 'Times New Roman', Times, serif;
}

/* Kiểu dáng cho nút tìm kiếm */
header .fa-magnifying-glass {
    font-size: 20px;
    cursor: pointer;
    color: #fff;
}

header .fa-magnifying-glass:hover {
    color: #888;
}

/* header của trang cá nhân */
.header-user {
    border: 1px solid #C0C0C0;
    border-radius: 10px;
    background-color: #DDDDDD;
    width: 880px;
    height: 300px;
    margin: 10px 300px 20px 300px;
}

.user-information ul {
    margin-top: 10px;
    margin-left: 10px;
    border: 1px solid black;
    width: 60px;
    height: 100px;
    border-radius: 100%;
    padding: 80px 60px 0 60px;
    display: inline-block;
}

.user-information a {
    text-decoration: none;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    padding: 10px;
    color: black;
}

.user-information a:hover {
    color: #888888;
}

.user-information button {
    height: 30px;
    margin-inline-start: 800px;
    border: 1px solid #555555;
    border-radius: 5px;
    background-color: #DDDDDD;
    outline: none;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 600;
    transition: all 0.4s ease;
}
.user-information button:hover {
    background-color: #888888;
}

.main-function {
    border-top: 1px solid #C0C0C0;
    padding-top: 15px;
    margin: 20px 10px 0 10px;
}

.main-function a {
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin: 80px;
    padding: 10px;
    color: black;
    text-decoration: none;
}

.main-function a:hover {
    background-color: #EEEEEE;
}

/* Danh sách bạn bè */
.friend-list {
    border: 1px solid #C0C0C0;
    border-radius: 10px;
    background-color: #DDDDDD;
    width: 880px;
    height: 500px;
    margin: 10px 300px 20px 300px;
}

.friend-list-title {
    margin: 10px 0 10px 20px;
    font-size: 18px;
}

.friend {
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    width: 430px;
    height: 100px;
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 5px;
    
}

.friend img {
    margin-top: 10px;
    margin-left: 10px;
    border: 1px solid black;
    width: 80px;
    height: 50px;
    padding-left: 20px;
    padding-top: 30px;
    border-radius: 5px;
    display: inline-block;
}

.friend a {
    text-decoration: none;
    color: black;
}

.friend a:hover {
    color: #888888;
}

.friend button {
    border: none;
    background-color: #DDDDDD;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    margin-inline-start: 40%;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.friend button:hover {
    background-color: #888888;
}